@charset "UTF-8";

@media screen and (min-width: 768px) {
     i#burguer {
        display: none;
     }

     nav {
        display: block;
     }

     nav > ul > li {
        display: inline-block;
        
     }

     nav > ul > li > a {
        border-top: none;
     }

     nav > ul > li > a:hover {
        border: 1px solid darkgray;
        transition:border 1s;
     }

     main {
        width: 768px;
     }
}