@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
:root {
    ---fonte-titulo: 'Passion One', sans-serif;
    ---fonte-texto: 'Sriracha', sans-serif;
}

h1 {
    font-family: var(---fonte-titulo);
    color: white;
    font-size: 9em;
}

header {
    background-color: black;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 30px;
}

main  p {
    font-family: var(---fonte-texto);
    text-indent: 20px;
    font-size: 2.8em;
}

a:hover {
    text-decoration: underline;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#img01 {
    background: url('../imgs/background001.jpg') no-repeat right center/cover fixed;
    height: 800px;
}

section {
    background-color: rgba(0, 0, 0, 0.411);
    width: 700px;
    height: 700px;
    padding: 20px;
    margin: 10px;
    color: white;
}